body {
    background-color: #000;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.container h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.container textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    resize: none;
}

.container button {
    width: 107%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    margin-top: 1rem;
    background: #fff;
    color: #000;
    transition: all 0.3s ease;
}

input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}